/* Mobile & Tablet */
@media (max-width: 1024px){
    .hiden-moblie-tablet{
        display: none;
    }
   .search__input-mobile-tablet{
    padding: 7px 16px 7px 24px;
    width: 40px;
   }
   .facebook-search-info{
       
   }
    .search__input-mobile-tablet:focus{
        width: 260px;
    }
    .nav-left{
        padding: 0;
    }
    .facebook-menu-mobile-tablet{
        font-size: 2.6rem;
        margin-left: 20px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--primary-color);
        color: rgb(129, 128, 128);
    }
}
/* Tablet */
@media(min-width: 740px) and (max-width:1024px) {
    .container-right{
        padding: 0;
        display: flex;
        justify-content: start;
        position: unset;
    }
    .container-right-require-info__name-heading{
        padding:0;
    }
    .container-right-block{
        width: 100%;
        padding-right: 5px;
    }
    .btn-size-l{
        width: 140px;
    }
    .container-right-brand{
        margin-right: 5px;
    }
    .container-right-contact__heading{
        margin-right: 20px;
    }
}
/* Mobile */
@media (max-width: 739px){
    .hiden-mobile{
        display: none;
    }
    .header{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col-1{
        padding: 0;
    }
    .container-center{
        padding: 0;
        width: 100%;
    }
    .row{
        flex-wrap: nowrap;
    }
    .container-center-story{
        width: 100%;
        overflow-x:scroll;
    }
    .center-content{
        width: 100%;
    }
    .center-content-blog__header,
    .center-content-blog__paragrap{
        padding-right: 5px;
        padding-left: 5px;
    }
    .center-content-blog__header-name{
        width: 85%;
    }
    .center-content-blog__header-heading {
        padding-right: 5px;
    }
    .center-content-status__function{
        justify-content: space-around;
    }
    .center-content-room-meeting-title{
        display: none;
    }
    .center-content-room-meeting-img {
       overflow-x: scroll;
       max-width: 315px;
    }
}
