:root{
    --white-color:#ffff;
    --black-color:#000;
    --primary-color:#F0F2F5;
    --act-color:#1877F2;
    --online-color:#2F9A48;
    --hover-color:rgba(116, 120, 126,0.1);
    --wait-color:#F02849;
    --smlie-color:#F7B928;
    --img-color:#45BD62;
}


.wait-color{
    color: var(--wait-color);
}
.smile-color{
    color: var(--smlie-color);
}
.img-color{
    color: var(--img-color);
}
.act-color{
    color: var(--act-color);
}
.video-color{
    color: rgb(240,40,73);
}
.location-color{
    color:rgb(245,83,61);
}
.gif-color{
    color: rgb(50,190,170);
}
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto',sans-serif;
    line-height: 1.4rem;
}
.col-1{
    padding-left: 2px;
    padding-right: 4px;
}
.col-2-4{
    padding-left: 6px;
    padding-right: 6px;
}
/* icon-name */
.name-hover{
     display: none;
     font-size: 1.3rem;  
     font-weight: 350;
     position: absolute;
     right: 20px;
     top: 100%;
     text-align: center;
     width:90px;
     padding: 10px;
     border-radius: 10px;
     background-color: rgba(0,0,0,0.7);
     color: var(--white-color);
     z-index: 2;
}
.name-hover--footer{
    width: 96px;
    top: -50%;
    transform: translateY(20%);
    right: 36px;
    bottom: 0;
}
.name-hover-size-s{
    width: 70px;
    right: 30px;
}
.name-hover-size-ms{
    width: 80px;
    right: 0;
    top: 100%;
}
.name-hover-size-m,
.name-hover-size-l{
    margin-top: 10px;
    right: -50%;
    width: 88px;
}
.name-hover-size-lxl{
    right: -10px;
    bottom: -80%;
    width: 99px;
}
.name-hover-size-lxxl{
    left: 30%;
    bottom: -80%;
    width: 200px;
    font-weight: 400;
}
.name-hover-size-xl{
    width: 100px;
    right: 0;
    top: 100%;
}
.name-hover-size-xxl{
    right: 0;
    width: 200px;
    top: 100%;
}
.name-hover-size-xxxl{
    right: 0;
    width: 210px;
    top: 100%;
}
.name-hover-size-xsl{
    right: 0;
    width: 170px;
    top: 100%;
}
/* boder-act */
.boder-act{
    border-bottom: 3px solid #1877F2;
    transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32);
}
/* user */
.info-friend-container-right.user-1{
    position: fixed;
    top: 450px;
}
.user,
.group{
    font-size: 1.6rem;
    font-weight: 420;
    color: var(--black-color);
}
.user-name{
    display: flex;
    justify-content: center;
    padding: 28px 12px 5px 10px;
    font-size: 1.4rem;
    font-weight: 500;
}
.user-name--while-color{
    color: rgb(255,255,255);
    padding: 12px 12px 8px 12px;
    font-weight: bold;
}
.time-act-color{
    color: var(--act-color);
    font-size: 1.2rem;
}
.user-size-s{
    font-size: 1.5rem;
    font-weight: 420;
    color: var(--black-color);
}
.hover:hover{
    background-color: rgba(116, 120, 126,0.1);
    cursor: pointer;
}
.hover-hover:hover{
    opacity: 0.96;
    cursor: pointer;
}
.hover-underline:hover{
    cursor: pointer;
    text-decoration: underline;
}
/* btn */
.require{
    border: none;
    width: 90px;
    height: 36px;
    padding: 5px;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: var(--black-color);
    background-color: rgba(66, 66, 66, 0.1);
    margin-right: 5px;
}
.require:hover{
    background-color: rgba(0,0,0,0.1);
}
.require--agree{
    background-color: var(--act-color);
    color: var(--white-color);
}
.require--agree:hover{
    background-color: #3c8bf1;
}

.btn-size-l{
    width: 160px;
    padding: 0 10px;
    margin-bottom: 10px;
}
/* Viền ngăn */
.block{
    width: 100%;
    height: 1px;
    margin: 5px 0;
    background-color: rgba(66, 66, 66, 0.2);
}
/* havent sent */
.arc{
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: var(--act-color);
}
/* css icon */
.icon{
    margin: 0 -8px;
    color: rgba(66, 66, 66, 0.4);
    font-size: 1.5rem;
    padding: 9px;
    border-radius: 50%;
}
/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* Notificaiton */
@keyframes headernotiGrowth{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes slideInup{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Fadeout{
    to{
        opacity: 0;
    }
}
/* Tạo mũi tên cho thanh notification 
    Ứng dụng boder
    boder: 2px sold
    boder: red yellow green blue
    boder: transparent transparent transparent blue
*/
/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(243,243,244,0.5);
}
.modal__body{
    background-color:var(--white-color);
    margin: auto;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear 0.1s;
}